
body {
  font-family: Helvetica, sans-serif;
  text-align: justify;
}

#container {
  width: 100%;
  height: 100%;
}

#header {
  text-align: center;
  font-size: 2rem;
}

.box {
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;
  padding: 0.5rem;
  margin: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#suggestions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2rem;
}

.tab {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1em;
  display: inline-block;
}

