/* for gmaps */
html {
  height: 100%;
  background-color: #45C2C5;
  font-size: 0.9rem;
}

a {
  text-decoration: none
}

#home {
  color: black;
}

#home:link {
  color: black;
}

#home:active {
  color: black;
}

#home:visited {
  color: black;
}

#home:hover {
  color: black;
}


#map-canvas {
  height: 100%;
  width: 100%;
}

#map-canvas-hidden {
  height: 0px;
  width: 0px;
}

.hidden {
  visibility: hidden;
}

.hiddenMap {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.visibleMap {
  visibility: visible;
}

.link {
  display: block;
}

body {
  /* for gmaps */
  height: 85%; /* TODO: I think this is causing a bug */
  margin: 0;
  padding: 0;

  /* general style */
  font-family: Helvetica, sans-serif;
  text-align: justify;
}

/* general style */

.block {
  display: block;
}

#container {
  width: 100%;
  height: 100%;
}

#header {
  height: 2.5rem;

  background-color: white;
  text-align: center;
  font-size: 25px; /* TODO: rems */
}

.box {
  background-color: white;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #8C8C8B;
  padding: 0.5rem;
  margin: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#suggestions {
  padding: 0px;
}

.suggestion {
  border-bottom: 1px;
  border-style: solid;
  border-color: #8C8C8B;
  padding: 0.5rem;
}

li:last-child {
  border-bottom: none;
}

.buttonDown {
  background-color: blue;
  color: white;
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4rem;

  background-color: #45C2C5;
}

.tab {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;

  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #8C8C8B;

  background-color: white;
}

#current-page {
  font-weight: bold;
  font-size: 1.25rem;
}

/* TODO */
#overlay {
  position: fixed;
  top: 20%;
  height: 60%;
  margin: 1rem;
}

#exercise-name {
  font-size: 1.4rem;
}

.exercise-info {
  font-size: 1.2rem;
}

#close-overlay {
  position: absolute;
  top: 0;
  right: 0;
}

