/* for gmaps */
html {
  height: 100%;
  background-color: #45C2C5;
  font-size: 0.9rem;
}

a {
  text-decoration: none
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.hiddenMap {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.visibleMap {
  visibility: visible;
}

body {
  /* for gmaps */
  height: 85%; /* TODO: I think this is causing a bug */
  margin: 0;
  padding: 0;

  /* general style */
  font-family: Helvetica, sans-serif;
  text-align: justify;
}

/* general style */

#container {
  width: 100%;
  height: 100%;
}

#header {
  height: 2.5rem;

  background-color: white;
  text-align: center;
  font-size: 25px; /* TODO: rems */
}

.box {
  background-color: white;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #8C8C8B;
  padding: 0.5rem;
  margin: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#suggestions {
  padding: 0px;
}

.suggestion {
  border-bottom: 1px;
  border-style: solid;
  border-color: #8C8C8B;
  padding: 0.5rem;
}

li:last-child {
  border-bottom: none;
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 4rem;

  border-top: 1px;
  border-style: solid;
  border-color: #8C8C8B;

  background-color: #45C2C5;
}

.tab {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;

  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #8C8C8B;

  background-color: white;
}

#current-page {
  font-weight: bold;
  font-size: 1.25rem;
}

